.task{
    background-color: #f3f5f7;
}
.ticket-no{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.right-side{
    display: flex;
    align-items: center;
}
.right-side .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #E7EAED;
    cursor: pointer;
}
.right-side .arrow:hover{
    background-color: #979797;
}
.right-side h4{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 7px;
}
.left-side{
    display: flex;
    align-items: center;
}
.left-side .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 34px;
    border-width: 4px;
    border: 1px solid #e9eaea;
    background-color: #f9f9f9;
    cursor: pointer;
}
.left-side .button:hover .button{
    background-color: #7c7c7c;
}
.left-side .button .button-text{
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}

.chart-card{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.chart-card .chart{
    width: 839px;
    height: 264px;
    border-radius: 8px;
    border: 0.8px solid #ebebeb;
    background-color: #fff;
}
.chart-card .ticketContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 408px;
    height: 264px;
    border-radius: 12.5px;
    border-color: transparent;
    background-color: #8A74F9;
    background-image: url(../assets/card-bg.png);
    position: relative;
    animation: bouncingCard 0.8s ease-out infinite alternate;
}
.trash-div{
    width: 70px;
    height: 65px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8px;
    top: 24px;
}
.trash-div img:hover{
    cursor: pointer;
}
.chart-card .ticket{
    color: darkslategray;
    border-radius: 12px;
    width: 100%;
}
/* Ticket Content */
.chart-card .ticket-copy{
    width: 226px;
    height: 42px;
    background: #fff;
    border: 0.9px solid #ddd;
    border-radius: 8.3px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chart-card .ticketCopyText{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

}
.ticketCopyImg{
    display: flex;
    align-items: center;
}
.chart-card .ticketTitle{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 12px 16px 4px;
    text-align: center;
    margin-top: 10px;
    /* margin-top: 26px; */
}
hr{
    width: 90%;
    border: 1px solid #efefef;
}
.chart-card .ticketDetail{
    font-size: 12px;
    font-weight: 400;
    padding: 4px 16px;
    text-align: center;
    color: #fff;
}
.chart-card .ticketSubDetail{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.chart-card .ticketSubDetail .discount{
    display: flex;
    align-items: center;
}
.discountDetails{
    display: flex;
    margin-top: 5px;
}
.percent{
    font-size: 18px;
    color: #fff;
    font-weight: 500px;
    margin-left: 7px;
}
.ticketButton{
    width: 70px;
    height: 24px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 6px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.ticketButton:hover{
    background-color: #6759a5;
    color: #fff;
    border: 1px solid #fff;
}
.chart-card .ticketSubDetail .QR{
    overflow: hidden;
    width: 82px;
    height: 82px;
    border-radius: 4px;
}

/* Ticket Ripper */
.chart-card .ticketRip{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.chart-card .circleLeft{
    width: 12px;
    height: 24px;
    background-color: #f3f5f7;
    border-radius: 0 12px 12px 0;
    transform: rotate(180deg);
    border-style: none;
}
.chart-card .ripLine{
    width: 100%;
    border-top: 3px solid #B7B5E4;
    border-top-style: dashed ;
}
.chart-card .circleRight{
    width: 12px;
    height: 24px;
    background-color: #f3f5f7;
    border-radius: 12px 0 0 12px;
    border-style: none;
    transform: rotate(180deg);
}

/* Ticket Bouncing Animation */
@keyframes bouncingCard {
    from { transform: translateY(0);}
    to {transform: translateY(-10px);}
}
.chart-card .circleLeft{
    transform: rotate(180deg);
}

.task[dir="ltr"] .chart-card .circleLeft,.task[dir="ltr"] .chart-card .circleRight {
    transform: rotate(360deg);
}
.task[dir="ltr"] .right-side .arrow{
    transform: rotate(180deg);
    margin-right: 7px;
}
.task[dir="ltr"] .button-icon{
    margin-right: 5px;
}
.task[dir="ltr"] .ticket{
    position: relative;
}
.task[dir="ltr"] .trash-div{
    position: absolute;
    left: 330px;
    top: 24px;
}
.task[dir="ltr"] .percent{
    margin-left: 0;
    margin-right: 9px;
}
.task[dir="ltr"] .chart-card .ticket-copy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.translate{
    padding: 0px 20px;
}
.translate select{
    width: 120px;
    height: 23px;
    border-radius: 4.5px;
    text-align: center;
}
/* Media Query for Mobile View Mobile (300px - 767px): */
@media only screen and (max-width: 767px) {
    .chart-card{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .chart-card .chart{
        width: 350px;
    }
    .chart-card .ticketContainer{
        width: 350px;
        margin-top: 20px;
    }
    .trash-div{
        width: 50px;
        height: 45px;
        left: 4px;

    }
    .ticket-no{
        padding-left: 20px;
        padding-right: 10px;
    }
    .chart-card .ticketContainer{
        width: 330px;
        margin: auto;
        margin-top: 20px;
    }
    .ticketContainer{
        margin-right: 5px;
    }
}
#copyIcon{
    cursor: pointer;
}
/* Media Query for Mobile View  Tablet (768px - 1023px): */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .trash-div{
        width: 50px;
        height: 45px;
        left: 1px;
        top: 2px;
    }
    
}
@media only screen and (min-width: 1025px) and (max-width: 1450) {
    
}
@media only screen and (min-width: 1600px) and (max-width: 2000px) {
    .chart-card .ticketContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 264px;
        border-radius: 12.5px;
        border-color: transparent;
        background-color: #8A74F9;
        background-image: url(../assets/card-bg.png);
        position: relative;
        animation: bouncingCard 0.8s ease-out infinite alternate;
    }
    .chart-card .chart{
        width: 950px;
        height: 264px;
        border-radius: 8px;
        border: 0.8px solid #ebebeb;
        background-color: #fff;
    }
}

